<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TiendaTuya - Inicio de sesión</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
 

  <!-- Main -->
  <main>
    <div class="container" id="app" >
      <div class="row">
        <div class="col-md-12 order-md-last">
          <div class="row">
            <div class="col-md-6" >
              <!-- Formulario de inicio de sesión -->
              <login-form></login-form>
            </div>
            <div class="col-md-6">
              <!-- Formulario de registro de cliente -->
            <signin-form></signin-form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  <script src="formulario.js"></script>
</body>
</html>
